<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    

    <div class="main-content">

     {{>header}}

     <p>This is site was created by Ahasan Kabir. It is uses data from mapbox.com and weatherstack.com!</p>
     <img class="portrait other"   src="/img/me.jpg">


    </div>

    
    {{>footer}}

</body>

</html>